ace_demo_dfdl/dfdls/REQUEST/REQUEST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:cabecera="http://www.ibm.com/dfdl/Cabecera_Type" xmlns:cliente_consulta_solicitud="http://www.ibm.com/dfdl/CLIENTE_CONSULTA_SOLICITUD_Type" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:factura_consulta_solicitud="http://www.ibm.com/dfdl/FACTURA_CONSULTA_SOLICITUD_Type" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:isofmt="http://www.ibm.com/dfdl/ACEDEMO_Format" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <xs:import namespace="http://www.ibm.com/dfdl/ACEDEMO_Format" schemaLocation="../Common/ACEDEMO_Format.xsd"/>
    
  <xs:import namespace="http://www.ibm.com/dfdl/Cabecera_Type" schemaLocation="../Cabecera/cabecera.xsd"/>
    
  
  <xs:import namespace="http://www.ibm.com/dfdl/CLIENTE_CONSULTA_SOLICITUD_Type" schemaLocation="../Transacciones/cliente_consulta_solicitud.xsd"/>
    
  
  <xs:import namespace="http://www.ibm.com/dfdl/FACTURA_CONSULTA_SOLICITUD_Type" schemaLocation="../Transacciones/factura_consulta_solicitud.xsd"/>
    

  
  <xs:annotation>
        
    <xs:appinfo source="http://www.ogf.org/dfdl/">
            
      <dfdl:format ref="isofmt:ACEDEMO_Format"/>
          
    </xs:appinfo>
      
  </xs:annotation>
    
  <xs:group name="CabeceraReq">
        
    <xs:sequence dfdl:separator="">
            
      <xs:element dfdl:lengthKind="implicit" dfdl:lengthUnits="characters" minOccurs="1" name="CABECERA" type="cabecera:Cabecera_Type"/>
          
    </xs:sequence>
      
  </xs:group>
    
  <xs:group name="TransaccionesReq">
        
    <xs:sequence>
            
      <xs:element dfdl:lengthKind="implicit" dfdl:lengthUnits="characters" dfdl:occursCount="{xs:nonNegativeInteger(if (fn:contains('0001',/ACEDEMO_REQUEST/CABECERA/TIPO_TRANSACCION)) then 1 else 0)}" minOccurs="0" name="CLIENTE_CONSULTA_SOLICITUD" type="cliente_consulta_solicitud:CLIENTE_CONSULTA_SOLICITUD_Type"/>
            
      <xs:element dfdl:lengthKind="implicit" dfdl:lengthUnits="characters" dfdl:occursCount="{xs:nonNegativeInteger(if (fn:contains('0002',/ACEDEMO_REQUEST/CABECERA/TIPO_TRANSACCION)) then 1 else 0)}" minOccurs="0" name="FACTURA_CONSULTA_SOLICITUD" type="factura_consulta_solicitud:FACTURA_CONSULTA_SOLICITUD_Type"/>
          
    </xs:sequence>
      
  </xs:group>
    
  <xs:element dfdl:lengthKind="implicit" dfdl:nilKind="literalValue" dfdl:nilValue="" ibmSchExtn:docRoot="true" name="ACEDEMO_REQUEST" nillable="false">
        
    <xs:complexType>
            
      <xs:sequence dfdl:separator="">
                
        <xs:group ref="CabeceraReq"/>
                
        <xs:group ref="TransaccionesReq"/>
              
      </xs:sequence>
          
    </xs:complexType>
      
  </xs:element>
  
</xs:schema>
