ace_demo_dfdl/dfdls/Transacciones/cliente_consulta_respuesta.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
    xmlns:isofmt="http://www.ibm.com/dfdl/ACEDEMO_Format"
    xmlns:isotyp="http://www.ibm.com/dfdl/ACEDEMO_Types"
    targetNamespace="http://www.ibm.com/dfdl/CLIENTE_CONSULTA_RESPUESTA_Type">

    <xs:import namespace="http://www.ibm.com/dfdl/ACEDEMO_Format"
        schemaLocation="../Common/ACEDEMO_Format.xsd" />

    <xs:import namespace="http://www.ibm.com/dfdl/ACEDEMO_Types"
        schemaLocation="../Common/ACEDEMO_Types.xsd" />

    <xs:annotation>

        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <!-- Format annotation to apply default property values to all objects -->      
      <dfdl:format ref="isofmt:ACEDEMO_Format" />

        </xs:appinfo>

    </xs:annotation>


    <xs:complexType name="CLIENTE_CONSULTA_RESPUESTA_Type">

        <xs:sequence dfdl:separator="">

            <xs:element name="CEDULA"
                dfdl:length="10"
                type="isotyp:Type_n_string" />
            
            <xs:element name="NOMBRE"
                dfdl:length="20"
                type="isotyp:Type_ans_string" />

            <xs:element name="APELLIDO"
                dfdl:length="20"
                type="isotyp:Type_ans_string" />
            
            <xs:element name="CELULAR"
                dfdl:length="14"
                type="isotyp:Type_celular_string" />

            <xs:element name="DIRECCION"
                dfdl:length="100"
                type="isotyp:Type_ans_string" />
            
            <xs:element name="CIUDAD"
                dfdl:length="20"
                type="isotyp:Type_ans_string" />

            <xs:element name="EMAIL"
                dfdl:length="50"
                type="isotyp:Type_ans_string" />

        </xs:sequence>

    </xs:complexType>

</xs:schema>