ace_demo_dfdl/dfdls/Transacciones/factura_consulta_respuesta.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
    xmlns:isofmt="http://www.ibm.com/dfdl/ACEDEMO_Format"
    xmlns:isotyp="http://www.ibm.com/dfdl/ACEDEMO_Types"
    targetNamespace="http://www.ibm.com/dfdl/FACTURA_CONSULTA_RESPUESTA_Type">

    <xs:import namespace="http://www.ibm.com/dfdl/ACEDEMO_Format"
        schemaLocation="../Common/ACEDEMO_Format.xsd" />

    <xs:import namespace="http://www.ibm.com/dfdl/ACEDEMO_Types"
        schemaLocation="../Common/ACEDEMO_Types.xsd" />

    <xs:annotation>

        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <!-- Format annotation to apply default property values to all objects -->      
      <dfdl:format ref="isofmt:ACEDEMO_Format" />

        </xs:appinfo>

    </xs:annotation>


    <xs:complexType name="FACTURA_CONSULTA_RESPUESTA_Type">

        <xs:sequence dfdl:separator="">

            <xs:element name="NUMERO"
                dfdl:length="17"
                type="isotyp:Type_nro_factura_string" />

            <xs:element name="CEDULA"
                dfdl:length="10"
                type="isotyp:Type_n_string" />
            
            <xs:element name="NOMBRE"
                dfdl:length="20"
                type="isotyp:Type_ans_string" />

            <xs:element name="APELLIDO"
                dfdl:length="20"
                type="isotyp:Type_ans_string" />
            
            <xs:element name="CELULAR"
                dfdl:length="14"
                type="isotyp:Type_celular_string" />

            <xs:element name="DIRECCION"
                dfdl:length="100"
                type="isotyp:Type_ans_string" />
            
            <xs:element name="CIUDAD"
                dfdl:length="20"
                type="isotyp:Type_ans_string" />

            <xs:element name="EMAIL"
                dfdl:length="50"
                type="isotyp:Type_ans_string" />
            
            <!--xs:choice dfdl:choiceLength="1240" dfdl:choiceLengthKind="explicit"-->

                <!--xs:element dfdl:lengthKind="implicit" name="ITEMS"-->
                <xs:element dfdl:length="1240" name="ITEMS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ITEM"
                                        dfdl:lengthKind="implicit"
                                        dfdl:occursCountKind="implicit"
                                        maxOccurs="10"
                                        minOccurs="1">
                                <xs:complexType>

                                    <xs:sequence dfdl:separator="">

                                        <xs:element name="ORDEN" 
                                                    dfdl:length="4" 
                                                    type="isotyp:Type_n_string" />

                                        <xs:element name="CODIGO" 
                                                    dfdl:length="5"
                                                    type="isotyp:Type_ans_string" />

                                        <xs:element name="PRODUCTO_TIPO" 
                                                    dfdl:length="20"
                                                    type="isotyp:Type_ans_string" />

                                        <xs:element name="PRODUCTO_NOMBRE" 
                                                    dfdl:length="20"
                                                    type="isotyp:Type_ans_string" />

                                        <xs:element name="CANTIDAD" 
                                                    dfdl:length="15" 
                                                    type="isotyp:Type_n_decimal" />

                                        <xs:element name="PRECIO" 
                                                    dfdl:length="15" 
                                                    type="isotyp:Type_n_decimal" />

                                        <xs:element name="SUBTOTAL" 
                                                    dfdl:length="15" 
                                                    type="isotyp:Type_n_decimal" />

                                        <xs:element name="IVA" 
                                                    dfdl:length="15" 
                                                    type="isotyp:Type_n_decimal" />

                                        <xs:element name="TOTAL" 
                                                    dfdl:length="15" 
                                                    type="isotyp:Type_n_decimal" />

                                    </xs:sequence>

                                </xs:complexType>

                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
            <!--/xs:choice-->

        </xs:sequence>

    </xs:complexType>

</xs:schema>